.title {
    font-size: 130px;
    width: 100%;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.textContainer {
    position: absolute;
    bottom: 10vh;
    right: 50px;
}

.text {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.text p {
    color: var(--color-readable-gray);
}

.highlight {
    color: var(--color-off-black);
}

@media (max-width: 768px) {
    .container {
        padding: 0 16px;
    }

    .textContainer {
        left: 0;
        right: 0;
        margin: 0 auto;
        padding: 0 16px;
    }

    .text {
        align-items: center;
        text-align: center;
    }

  }